.reviews{
    background-color: rgb(225, 248, 145);
    padding: 20px;
    border-radius: 5px;
}
.review{
    padding: 10px;
    border-bottom: 1px solid #000000;
}
.review:last-child{
    border-bottom: none;
}
.review-text{
    font-size: 16px;
    margin-bottom: 5px;
}
.review-author{
    font-size: 14px;
    color: #818080;
}